body {
background-image: url("Assets/Images/5.jpg");

}

h1 {
  font-family: Comic Sans MS;

  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
    text-align: center;
       font-size: 50px;
  }

p {
  font-family: verdana;
  font-size: 25px;
  padding-bottom: 10px;
  color: white;

}
ul{
  font-family: verdana;
  font-size: 25px;
    margin: 25px 50px 75px 100px;
    padding-bottom: 25px 50px 75px 100px;
    color: white;

}
select{


}
ol{
  color: white;

  padding-bottom: 10px;
  font-family: Comic Sans MS;
  font-size: 20px;

}
li{
  padding-bottom: 10px;
  font-family: Comic Sans MS;

}
